.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(1, 21, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 5px 15px 5px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    background: none;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    margin-left: 50px;
  }

  .closebtn:hover {
    border: #9cff7b;
    border-radius: 30px;
    border-style: groove;
    border-width: 5px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(90, 45, 3);
    color: white;
    padding: 10px 15px;
    border: #9cff7b;
    border-radius: 30px;
    border-style: groove;
    border-width: 5px;
  }
  
  .openbtn:hover {
    background-color: rgb(81, 146, 27);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  